html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #373536;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
.header-box {
  padding: 3rem;
  background-color: #eae3d8;
}
.header,
.header-scroll {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(3, min-content);

  align-items: center;

  padding: 1rem 0;

  z-index: 1000;
}
.header {
  opacity: 1;
  transition: opacity 1.35s;
}
.header.inactive {
  opacity: 0;
}
.logo {
  grid-row: 1/2;

  width: 7rem;
  height: auto;
  object-fit: contain;
  justify-self: center;
  grid-column: 1/-1;
}
.excerpt {
  grid-row: 2/3;
  grid-column: 1/-1;

  padding: 1.2rem;
  margin: 1.2rem;
  text-align: justify;
  border-top: 4px solid #373536;
  border-bottom: 4px solid #373536;
}
.excerpt p {
  margin-bottom: 1rem;
}
.ethos {
  font-weight: 600;
}
.nav,
.nav-scroll {
  grid-row: 3/-1;
  grid-column: 1/-1;
}
.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
}
.nav-link {
  font-weight: 600;
  margin: 1rem;
  text-decoration: none;
  color: #373536;
  font-size: clamp(1rem, 3vw, 1.2rem);
  text-transform: uppercase;
}
.header-scroll {
  position: fixed;
  padding: 1rem 3rem;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid #373536;
  border-bottom: 4px solid #373536;

  transform: translateY(-100%);

  transition:
    transform 1.35s ease-out,
    box-shadow 0.35s ease,
    opacity 1s ease-out;

  background: #eae3d8;
  opacity: 0;
}

.header-scroll.active {
  transform: translateY(0);
  opacity: 1;
  box-shadow: 0px 1px 2px #373536;
}

.section {
  overflow: hidden;
}

.wrapper {
  height: 100vh;
}

.list {
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
  padding: 0.2rem;
}

.item {
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
  box-shadow: 0px 1px 2px #373536;
  overflow: hidden;
  will-change: transform;
  background-color: #f7f5f3;
  will-change: transform;
}

.item_number {
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  margin-bottom: 0.7rem;
  border-radius: 50%;
  background-color: #373536;
  color: #eae3d8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.item_content {
  background-color: #f7f5f3;
  color: #373536;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
  display: flex;
}
.item_content--1 {
  width: 30%;
}
.item_content--2 {
  width: 25%;
}
.item_media {
  object-fit: contain;
  width: 70%;
  height: 100%;
  background-color: #373536;
}
.tavola {
  width: auto;
  height: 100%;
}
.tavola-space {
  width: 25%;
}
.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padding-vertical {
  padding: 2rem;
}

@media only screen and (max-width: 600px) {
  .header-box {
    padding: 0;
  }
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 1rem;
  }

  .logo {
    width: 5rem;
    justify-self: center;
  }

  .excerpt {
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 0.9rem;
    border-top: 2px solid #373536;
    border-bottom: 2px solid #373536;
  }

  .nav-list {
    flex-direction: column;
    gap: 0.5rem;
  }
  .heading {
    font-size: 2.5rem;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .item_content,
  .item_media {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .space {
    height: 25vh;
    background-color: #9e4b3f;
  }
  .item_content--1 {
    height: 25vh;
  }
  .item_content--2 {
    height: 20vh;

    display: flex;
  }
  .item_media {
    height: 60vh;
  }
  .tavola-space {
    height: 14vh;
    width: 100%;
  }
  .tavola {
    padding-top: 0;
    object-fit: contain;
    max-height: 66vh;
  }
  .item_content h2 {
    font-size: 1.1rem;
  }
}
.uploads {
  display: grid;
  margin-top: 3rem;
  grid-template-rows: min-content;
  justify-items: center;
  align-items: center;
  padding: 1rem;
}
.uploads-form {
  padding: 2rem;
}
.uploads-form h3 {
  font-weight: 600;
  text-transform: uppercase;
}
#uploadForm {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}
.custom-file-btn,
#uploadForm button {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 8px 16px;
  background-color: #373536;
  color: #eae3d8;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
}

.custom-file-btn:hover,
#uploadForm button:hover {
  border: 1px solid #373536;
  background-color: transparent;
  color: #373536;
}
.file-preview {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.5rem 0;
}

.uploads-gallery img {
  border-radius: 4px;
}
.removeBtn {
  color: #373536;
  background-color: #373536;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
}
.uploads-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 10px;
  margin-top: 15px;
}

.uploads-gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.uploads-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0px 1px 2px #373536;
}
#preview {
  width: 100%;
  padding: 1rem;
}
